.featureimage__container {
    height: 30vh;
}

.featureimage__heading {
    font-weight: bold;
    font-size: 1.75em;
}

.featurelist__heading {
    font-size: 1.5em;
    color: rgb(34,39,45);
    width: 90%;
    margin: 0 auto;
}

@media screen and (min-width: 576px) {
    .featurelist__heading {
        font-size: 1.75em;
    }
    .featureimage__heading {
        font-size: 2em;
    }
}

@media screen and (min-width: 992px) {
    .featurelist__heading {
        font-size: 1.875em;
        width: 70%;
    }
    .featureimage__heading {
        font-size: 3em;
    }
}